.cart {
	padding: 2rem;
	display: grid;
	grid-template-columns: 2.2fr 1fr;
	gap: 2rem;
}

.table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1rem;
}

.tbody > tr > td {
	text-align: center;
}
.tbody > tr > :nth-child(2) {
	width: 15%;
}
.imageTd {
	width: 85px;
	height: 85px;
}
.imageTd > :nth-child(1) {
	width: 100%;
	height: 100%;
}
.clouse {
	color: var(--themeRed);
	cursor: pointer;
}
.summart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 16rem;
	padding: 1.6rem;
	background-color: var(--cartBack);
	box-shadow: var(--shadow);
	border-radius: 15px;
}
.summart > span {
	font-weight: bold;
	font-size: 1.5rem;
}
.CartDetails {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}
.CartDetails > div {
	display: flex;
	justify-content: space-between;
}
.buttons {
	display: flex;
	gap: 3rem;
}
.buttons > * {
	font-size: 0.8rem;
}
.buttons > :nth-child(1) {
	background-color: transparent;
	color: var(--themeRed);
	border: 2px solid var(--themeRed);
}
