.hero {
	display: flex;
	position: relative;
}
.leftSide {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.cherryDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	background-color: var(--pink);
	margin-top: 3rem;
	padding: 1rem;
	border-radius: 2rem;
	font-size: 0.8rem;
	color: var(--themeRed);
	font-weight: bold;
}
.heroText {
	display: flex;
	flex-direction: column;
	font-size: 4rem;
	font-weight: bold;
}
.miniText {
	width: 70%;
	color: var(--gray);
	font-weight: 600;
}
.btn {
	padding: 1rem 2.5rem;
}
.rightSide {
	position: relative;
}
.imageContainer {
	width: 38rem;
}
.imageContainer > :nth-child(1) {
	width: 100%;
	height: 100%;
}
.contactUs {
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 6rem;
	left: -6rem;
	padding: 1rem;
	border-radius: 5rem;
	gap: 1rem;
	background-color: aliceblue;
	box-shadow: var(--shadow);
	color: var(--themeRed);
}
.contactUs:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.contactUs .phone {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(59, 208, 59);
	color: aliceblue;
	border-radius: 50%;
}
.pizza {
	width: max-content;
	display: flex;
	gap: 1rem;
	position: absolute;
	bottom: 4rem;
	left: 19rem;
	background-color: aliceblue;
	box-shadow: var(--shadow);
	padding: 0.5rem;
	border-radius: 0.5rem;
}
.pizza:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.pizzaImg {
	width: 6rem;
	height: 4rem;
	overflow: hidden;
	border-radius: 0.5rem;
}
.pizzaImg > :nth-child(1) {
	width: 100%;
	height: 100%;
}
.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: bold;
}
